<h1>Welcome to goblet</h1>
<div class="container">
    <form method="POST" action="/api/create_game">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Create Game</button>
        </div>
    </form>
</div>

<div class="container">
    <form method="POST" action="/api/join_game">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <label for="match_id">Match ID</label>
                <input name="match_id" type="text" class="form-control" id="match_id" placeholder="Enter match id">
            </div>
            <button type="submit" class="btn btn-primary">Join Game</button>
        </div>
    </form>
</div>
