<!DOCTYPE html>
<html>
  <head>
    <title>Goblet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Goblet</h1>
  <a href="/login">login</a>
  <a href="/register">register</a>

  </body>
</html>
